media/adding_values.mp4 filter=lfs diff=lfs merge=lfs -text
media/no-paletes1.gif filter=lfs diff=lfs merge=lfs -text
media/test-madsisters-editor.mp4 filter=lfs diff=lfs merge=lfs -text
media/fantasy-generator.gif filter=lfs diff=lfs merge=lfs -text
media/generating_functions.mp4 filter=lfs diff=lfs merge=lfs -text
media/screensaver.gif filter=lfs diff=lfs merge=lfs -text
media/ascii.gif filter=lfs diff=lfs merge=lfs -text
media/clonestacking1.gif filter=lfs diff=lfs merge=lfs -text
media/ld56-3.gif filter=lfs diff=lfs merge=lfs -text
media/test-madsisters.mp4 filter=lfs diff=lfs merge=lfs -text
media/ush_works.mp4 filter=lfs diff=lfs merge=lfs -text
media/bombinha-level-editor.gif filter=lfs diff=lfs merge=lfs -text
media/dynamic-time-of-day.webm filter=lfs diff=lfs merge=lfs -text
media/ld56-1.gif filter=lfs diff=lfs merge=lfs -text
media/madsisters-test-enemies.webp filter=lfs diff=lfs merge=lfs -text
media/molnar.gif filter=lfs diff=lfs merge=lfs -text
media/bulletty2.gif filter=lfs diff=lfs merge=lfs -text
media/clonestacking2.gif filter=lfs diff=lfs merge=lfs -text
media/clonestacking5.gif filter=lfs diff=lfs merge=lfs -text
media/fish6.gif filter=lfs diff=lfs merge=lfs -text
media/loading.gif filter=lfs diff=lfs merge=lfs -text
media/asciicamera.gif filter=lfs diff=lfs merge=lfs -text
media/clonestacking3[[:space:]][[:space:]].gif filter=lfs diff=lfs merge=lfs -text
media/pixel2.gif filter=lfs diff=lfs merge=lfs -text
media/test-madsisters2.mp4 filter=lfs diff=lfs merge=lfs -text
media/bulletty1.gif filter=lfs diff=lfs merge=lfs -text
media/clone_stacking_rg351v.jpg filter=lfs diff=lfs merge=lfs -text
media/fish5.gif filter=lfs diff=lfs merge=lfs -text
media/ld56-2.gif filter=lfs diff=lfs merge=lfs -text
media/notebook.gif filter=lfs diff=lfs merge=lfs -text
